/* Custom CSS for Conference Organizer - home page */

@charset "UTF-8";
@import url(../font-awesome.min.css);
@import "//fonts.googleapis.com/css?family=Ubuntu";

/*---------------------------------------------------*/
/* Bootstrap */

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*---------------------------------------------------*/
/* Bootstrap */

body {
  line-height: 1;
  font-family:Ubuntu;
}

.box-shadow {
  font-family:Ubuntu;
}

.font-weight-normal {
  font-weight: bold !important;
}

/*---------------------------------------------------*/
/* Buttons */

.btn-green {
  background-color:#6cc091;
  border-color:#6cc091;
  color: #fff;
  border:none;
}

.btn-green:not(:disabled):not(.disabled).active, .btn-green:not(:disabled):not(.disabled):active, .show>.btn-green.dropdown-toggle {
  color: #fff;
  background-color: #6cc091;
  border-color: #6cc091;
  border:none;
}

a:hover{
  color: #fff;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.btn-red {
  background-color:#dc3545;
  border-color:#dc3545;
  color: #fff;
  border:none;
}

.btn-red:not(:disabled):not(.disabled).active, .btn-red:not(:disabled):not(.disabled):active, .show>.btn-red.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border:none;
}

.btn-red:hover {
  background-color:#dc3545;
  border-color:#dc3545;
  color: #fff;
  border:none;
}
/*---------------------------------------------------*/
/* Navbar */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn {
  background-color: #fff;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #fff;}

/*---------------------------------------------------*/
/* Modal */

.modal-content {
  text-align: center;
}

.modal-title {
  font-weight: bold;
}

.modal-header {
  padding-left: 370px;
}

.modal-footer{
  padding-right: 270px;
}

body{
  background: -webkit-linear-gradient(left, #6cc091, #55866a);
}
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #6cc091;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #6cc091;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #6cc091;
}

.text-center{
  font-family: Ubuntu;
}
a{
  color: #6cc091;
}
.emp-profile{
  font-family:Ubuntu;
  font-size:15px;
}
@media (min-width: 768px) {
  modal-content {
    text-align: center;
  }
  
  .modal-title {
    font-weight: bold;
  }
  
  .modal-header {
    padding-left: 200px;
  }
  
  .modal-footer{
    padding-right: 150px;
}
}